# Ignore SQLite database
badminton.db
badminton_backup.db
backups/
*.pre_restore_bak
*.tmp

# Ignore Python cache & temporary folders
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.idea/
.vscode/
scratch/
